#loader {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  z-index: 2;
  justify-content: center;
  align-items: center;
  color: #ff8a8a;
  font: 2.5em sans-serif;
  top: 50%;  /* position the top  edge of the element at the middle of the parent */
  left: 50%; /* position the left edge of the element at the middle of the parent */

  border: 2px solid black;
  border-radius: 25px;

  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;

  transform: translate(-50%, -50%);
}


progress[value] {
  width: 12.5em;
  height: 0.25em;
  border: none;
  border-radius: 0.125em;
  background: #e6eeff;
}
progress[value]::-webkit-progress-bar {
  border: none;
  border-radius: 0.125em;
  background: #e6eeff;
}
progress[value]::-webkit-progress-value {
  border: none;
  border-radius: inherit;
  background: linear-gradient(90deg, #ff8a8a, #8c9fff);
}
progress[value]::-moz-progress-bar {
  border: none;
  border-radius: inherit;
  background: linear-gradient(90deg, #ff8a8a, #8c9fff);
}
progress[value]::-ms-fill {
  border: none;
  border-radius: inherit;
  background: linear-gradient(90deg, #ff8a8a, #8c9fff);
}
output:not(:empty) {
  padding-bottom: 1em;
}
output:not(:empty):after {
  content: '%';
}

output {
  top: 120%;
  position: absolute;
}